# Ignore everything
**

# Allow files and directories
!assets
!packages
!dependencies-apt.txt
!dependencies-py3.*
!launchers
!tests

# YOUR FILES LISTED BELOW THIS LINE (IMPORTANT: PREPEND !)
# ----------------------------------------------------------------------------


# TODO: temporary until ament-* packages are put back on the ubuntu/noble apt repository (they disappeared on Apr 22 2024)
!TEMPORARY_dt-pip3-install